@keyframes gradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animate-gradient {
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--from-color),
    var(--to-color)
  );
  animation: gradient 4s linear infinite;
  --from-color: #000;
  --to-color: #fff;
}
