/* Button.module.css */

@font-face {
  font-family: "Geist";
  src: url("https://pham.codes/d/GeistMonoVF.woff2") format("woff2");
}

.text {
  font-family: "Geist";
  font-size: 5rem; /* Default size for large screens */
  margin: 0;
  color: #5BE9B9; /* Changed from background-image to color */
  --wght-min: 32;
  --wght-max: 240;
}

/* For tablets */
@media (max-width: 1024px) {
  .text {
    font-size: 3rem; /* Adjust as needed */
  }
}

/* For mobile */
@media (max-width: 768px) {
  .text {
    font-size: 2rem; /* Adjust as needed */
  }
}

.text span {
  animation: breath 1.5s alternate ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes breath {
  0% {
    font-variation-settings: "wght" var(--wght-min);
  }
  100% {
    font-variation-settings: "wght" var(--wght-max);
  }
}
