/* Button.module.css */

@font-face {
  font-family: "inter";
  src: url("https://pham.codes/d/GeistMonoVF.woff2") format("woff2");
}

.text {
  font-family: "inter";
  font-size: 7rem; /* Default size for large screens */
  margin: 0;
  color: #5BE9B9; /* Initial color */
  --wght-min: 32;
  --wght-max: 240;
  animation: colorchange 5s infinite; /* Animation name, duration, and iteration */
}

@keyframes colorchange {
  0% { color: #5BE9B9; } /* Turquoise */
  25% { color: #7510F7; } /* Blue */
  50% { color: #E95B5B; } /* Red */
  75% { color: #82E95B; } /* Green */
  100% { color: #5BE9B9; } /* Turquoise */
}



/* For tablets */
@media (max-width: 1024px) {
  .text {
    font-size: 5rem; /* Adjust as needed */
  }
}

/* For mobile */
@media (max-width: 768px) {
  .text {
    font-size: 3rem; /* Adjust as needed */
  }
}

.text span {
  animation: breath 1.5s alternate ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes breath {
  0% {
    font-variation-settings: "wght" var(--wght-min);
  }
  100% {
    font-variation-settings: "wght" var(--wght-max);
  }
}
